/* public/style.css */

body {
    background: aqua;
  }
  .WelcomeView {
    background: url("food.jpg") left bottom;
    background-size: cover;
  }

  .UserView {
    background: url("https://cdn.auth0.com/blog/whatabyte-portal/patio.jpeg") left
      bottom;
    background-size: cover;
  }